:root{
    --bg2: #C499BA;
    --text: #FDFF00;
    --bg1: #F6C6EA;
}
html {
background: var(--bg2); /* For browsers that do not support gradients */
color: var(--text);
/* Use comic style font */

font-family: Comic Sans MS, Comic Sans, cursive;


}


/* Create two equal columns that float next to each other */


/* make the text in the .me section bigger */
.header{
    width: 300px;
    text-align: center;
    color: var(--text);
    margin: auto;

    /* background-color: var(--bg1);  */
    
}
.avatar {
    max-width: 60%;
    border-radius: 25px;
    

}

.me {
    font-size: 20px;
    text-align:  justify;
    background-color: var(--bg1);
    padding: auto;
    border-style:  groove hidden ridge;
    border-color: var(--text);
    border-top : 6px solid var(--text);
    padding: 3%;

 
}
.pro-history{
    font-size: 20px;
    text-align:  justify;
    background-color: var(--bg2);
    border-style:  groove hidden ridge;
    border-color: var(--text);
    padding: 3%;


    

}
.skills{
    font-size: 20px;
    text-align:  justify;
    background-color: var(--bg1);
    border-spacing: initial;
    border-style:  groove hidden ridge;
    border-color: var(--text);
    padding: 3%;
    

}
.points{
    font-size: 20px;
    text-align:  justify;
    background-color: var(--bg2);
    border-spacing: initial;
    border-style:  groove hidden ridge;
    border-color: var(--text);
    padding: 3%;
    border-bottom : 6px solid var(--text);
    

}
.pointslist{
    
    text-align: justify;
}
.skillslist{
    
    text-align:  justify;
    
    
}
p{

    line-height: 24px; margin: 0 0 10px; text-align: justify; text-justify: inter-word; 
    
}


